<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TO-DO </title>
    <link rel="stylesheet" href="../static/todoapp/css/styles.css">
</head>
<body>
    <div class="content">
        <header class="header">
            TO-DO
        </header>
        <nav class="side_bar">
            <ul id="navig">
                <li id="home"> 
                    <h2 class="home-today-week project-home selected" id="project-home">
                        <span class="project-flex-1 ">H</span>
                        <span class="project-flex-2 ">ome</span>
                    </h2>
                    <span class="project-count" id="project-count" > </span>
                </li>
                <li id="today">
                    <h2 class="home-today-week project-today" id="project-today">
                        <span class="project-flex-1">T</span>
                        <span class="project-flex-2">oday</span>
                    </h2>
                </li>
                <li id="week">
                    <h2 class="home-today-week project-week" id="project-week">
                        <span class="project-flex-1">W</span>
                        <span class="project-flex-2">eek</span>
                    </h2>
                </li>
            </ul>
            <div id="create-new-task-btn" class="create-new-task-btn">+</div>
        </nav>
        <div class="main_container">
            <form class="task-container" id="task-container" method="post">
                {% csrf_token %}
                <!-- <div class="task" id="task">
                    <span class="priority-flag-medium"></span>
                    <span class="task-checkbox"></span>
                    <span class="task-name"> Donec fringilla quam </span>
                    <div class="task-details-btn" id="task-details-btn"> details </div>
                    <span class="task-date"> Aug 28th </span>
                    <button class="task-edit"></button>
                    <button class="task-delete"></button>
                </div> -->
            </form>
        </div>
    </div>
    <div class="popup-new" id="popup-new">
        <div class="overlay"></div>
        <form class="create-new" id="create-new" method="post">
            {% csrf_token %}
            <div class="create-new__header">
                <h2> Create new task... </h2>
                <div  class="create-new__close-btn">&times;</div>
            </div>
            <div class="create-new__content-box"> 
                <div class="create-new__sidebar">
                    <h1> // To-Do</h1>
                </div>
                <div class="create-new__imput">
                    <textarea name="new-task" id="create-new__name" maxlength="30" placeholder="Title:" required></textarea>
                    <textarea name="new-task-details" id="create-new__details" placeholder="Details:"></textarea>
                    <div class="create-new-date">
                        <div class="create-new-date__title">Due Date:</div>
                        <input type="date" class="create-new-date__duedate" id="create-new-date__duedate" name="create-new-date__duedate" required>
                    </div>
                    <div class="crate-new__atributes">
                        <div class="create-new-priority-and-submit">
                            <div class="create-new-priority">
                                <div class="create_priority_title"> Priority: </div>
                                <input type="radio" name="create-priority" id="create-priority-low" value="low" required>
                                <label for="create-priority-low" class="create-priority-btn create-priority-btn--low">low</label>
                                <input type="radio" name="create-priority" id="create-priority-medium" value="medium" required>
                                <label for="create-priority-medium" class="create-priority-btn create-priority-btn--medium">medium</label>
                                <input type="radio" name="create-priority" id="create-priority-high" value="high" required>
                                <label for="create-priority-high" class="create-priority-btn create-priority-btn--high">high</label>
                            </div>
                            <input type="submit" id="new-task-submit" value="Add task">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="details-popup" id="details-popup">
        <div class="details-popup__overlay"></div>
            <div class="details-popup__container">
                <div class="details-popup__close-btn">&times;</div>
                <div class="details-popup__content" id="details-popup__content">
                    <span class="details-popup__title"></span>
                    <div class="details-popup__details-container">
                        <span class="details-popup__details-span">Details:</span>
                        <p class="details-popup__details-value"></p>
                    </div>
                    <div class="details-popup__atributes">
                        <span class="details-popup__priority">Priority:</span>
                        <span class="details-popup__priority-value"></span>
                        <span class="details-popup__duedate">Due Date:</span>
                        <span class="details-popup__duedate-value"></span>
                    </div>
                </div>
            </div>
    </div>
<script src="../static/todoapp/js/functions.js"></script>
</body>
</html>